body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  height: 10rem;
  width: auto;
  align-items: end;
}
.section {
  color: #27A5D5;
  font-weight: 900;
  font-size: 50px;
  padding: 1rem 0rem 1.5rem 0rem;
  text-align: left;
  max-width: 500px;
  margin: 1.5rem;
}
.title {
  color: #27A5D5;
  font-weight: 900;
  font-size: 100px;
  margin: 5rem;
  padding: 1rem 0rem 1.5rem 0rem;
  text-align: center;
}
.description{
  line-height: 26px;
  letter-spacing: 0.03em;
  margin: 1.5rem;
  font-size: 20px;
  text-align: left;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: white;
}
.start {
  background-color: #27A5D5;
  font-size: 20px;
  border-radius: 5%;
  border: none;
  height: 5rem;
  width: 10rem;
  margin: 1.5rem;
}

#tableau {
  height: 90%;
  width: 90%;
}
/* change to something more responsive later? just testing if it shows up at all for now */
#interactive-map {
  height: 900px;
}